<div class="row" style="max-width: 100%; padding: 1rem;">
    <div class="col-md-12">
        <div class="col-md-12 text-right button__add">
            <button type="button" class="btn btn-secondary addproduct" (click)="abrirModal(true)">
                Crear Libros
            </button>
        </div>
        <dx-data-grid style="font-size: 12px; height: 320px;" id="gridLibros" #gridLibros [dataSource]="listLibros"
            [showBorders]="true" [showColumnLines]="true" [showRowLines]="true" [allowColumnResizing]="true"
            [columnAutoWidth]="true">
            <dxo-selection mode="single"></dxo-selection>
            <dxo-paging [pageSize]="10"></dxo-paging>
            <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 15, 20, 25, 30]" [showInfo]="true">
            </dxo-pager>
            <dxi-column dataField="code" [allowEditing]="false" caption="Codigo"></dxi-column>
            <dxi-column dataField="nombre" [allowEditing]="false" caption="Nombre"></dxi-column>
            <dxi-column dataField="quantity" [allowEditing]="false" caption="Cantidad disponible"></dxi-column>
            <dxi-column dataField="state" [allowEditing]="true" [width]="280" caption="Estado">
                <dxo-lookup [dataSource]="listEstados" valueExpr="estado" displayExpr="nombre">
                </dxo-lookup>
            </dxi-column>
            <dxi-column type="buttons" caption="Acciones">
                <dxi-button text="Detalle" hint="Detalle" icon="edit" [onClick]="editar">
                </dxi-button>
                <dxi-button text="Detalle" hint="Detalle" icon="trash" [onClick]="desactivar">
                </dxi-button>
            </dxi-column>
        </dx-data-grid>
    </div>
</div>

<div class="modal fade" #ModalActualizarEditar id="ModalActualizarEditar" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true" style="display:none">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content zommcontent">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{(isNew) ? 'Creación de libros' : 'Edición de
                    libros'}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="form" (ngSubmit)='onCreateBook()'>
                    <div class="row">
                        <div class="col col-3">
                            <div class="form-group">
                                <label reqItem>Codigo</label>
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text"><i class="fa fa-id-card" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                    <input type="text" class="form-control" formControlName="code" id="code">
                                </div>
                            </div>
                        </div>
                        <div class="col col-5">
                            <div class="form-group">
                                <label reqItem>Nombre</label>
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text"><i class="fa fa-user" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                    <input type="text" class="form-control" formControlName="nombre" id="nombres">
                                </div>
                            </div>
                        </div>
                        <div class="col col-4">
                            <div class="form-group">
                                <label reqItem>Cantidad</label>
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text"><i class="fa fa-envelope" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                    <input type="number" class="form-control" formControlName="quantity" id="quantity">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-9">
                            <div class="form-group">
                                <label reqItem>URL imagen</label>
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text"><i class="fa fa-key" aria-hidden="true"></i></div>
                                    </div>
                                    <input type="text" class="form-control" formControlName="url_image" id="url_image">
                                </div>
                            </div>
                        </div>
                        <div class="col col-3">
                            <div class="form-group">
                                <label>Estado</label>
                                <dx-select-box [dataSource]="listEstados" formControlName="state" valueExpr="estado"
                                    displayExpr="nombre">
                                </dx-select-box>
                            </div>
                        </div>
                        <input name="id" formControlName="id" placeholder="id" class="form-control" type="hidden">
                    </div>

                    <div class="row-fluid text-right">

                        <div class="btn-group" role="group">
                            <button type="submit" class="btn btn-success" [disabled]="form.invalid">
                                <i class="far fa-save"></i> Guardar
                            </button>

                            <button type="button" class="btn btn-danger" (click)="cancelarModal()">
                                <i class="far fa-times-circle"></i> Salir
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>