<div class="row" style="max-width: 100%; padding: 1rem;">
    <div class="col-md-12">
        <div class="col-md-12 text-right button__add">
            <button type="button" class="btn btn-secondary addproduct" (click)="abrirModal(true)">
                Registrar prestamo
            </button>
        </div>
        <dx-data-grid style="font-size: 12px; height: 320px;" id="gridLibros" #gridLibros [dataSource]="listPrestamos"
            [showBorders]="true" [showColumnLines]="true" [showRowLines]="true" [allowColumnResizing]="true"
            [columnAutoWidth]="true">
            <dxo-selection mode="single"></dxo-selection>
            <dxo-paging [pageSize]="10"></dxo-paging>
            <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 15, 20, 25, 30]" [showInfo]="true">
            </dxo-pager>
            <dxi-column dataField="user.name" [allowEditing]="false" caption="Usuario"></dxi-column>
            <dxi-column dataField="book.nombre" [allowEditing]="false" caption="Libro prestado"></dxi-column>
            <dxi-column dataField="borrowed_date" [allowEditing]="false" caption="Fecha préstamo"></dxi-column>
            <dxi-column dataField="return_date" [allowEditing]="false" caption="Fecha devolución"></dxi-column>
            <dxi-column dataField="state" [allowEditing]="true" [width]="280" caption="Estado">
                <dxo-lookup [dataSource]="listEstados" valueExpr="estado" displayExpr="nombre">
                </dxo-lookup>
            </dxi-column>
            <dxi-column type="buttons" caption="Acciones">
                <dxi-button text="Detalle" hint="Detalle" icon="edit" [onClick]="editar">
                </dxi-button>
                <dxi-button text="Detalle" hint="Detalle" icon="trash" [onClick]="desactivar">
                </dxi-button>
            </dxi-column>
        </dx-data-grid>
    </div>
</div>

<div class="modal fade" #ModalActualizarEditar id="ModalActualizarEditar" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true" style="display:none">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content zommcontent">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{(isNew) ? 'Registro de prestamos' : 'Edición de
                    préstamo'}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="form" (ngSubmit)='onCreateBook()'>
                    <div class="row">
                        <div class="col col-3">
                            <div class="form-group">
                                <label>Usuarios activos</label>
                                <dx-select-box [dataSource]="listUser" formControlName="user_id" valueExpr="id"
                                    displayExpr="name">
                                </dx-select-box>
                            </div>
                        </div>
                        <div class="col col-5">
                            <div class="form-group">
                                <label>Libros disponibles</label>
                                <dx-select-box [dataSource]="listBooks" formControlName="books_id" valueExpr="id"
                                    displayExpr="nombre">
                                </dx-select-box>
                            </div>
                        </div>
                        <div class="col col-4">
                            <div class="form-group">
                                <label reqItem>Fecha préstamo</label>
                                <div class="input-group mb-2">
                                    <input type="date" class="form-control" formControlName="borrowed_date"
                                        id="borrowed_date">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-4" *ngIf="!isNew">
                            <div class="form-group">
                                <label reqItem>Fecha devolución</label>
                                <div class="input-group mb-2">
                                    <input type="date" class="form-control" formControlName="return_date"
                                        id="return_date">
                                </div>
                            </div>
                        </div>
                        <div class="col col-3">
                            <div class="form-group">
                                <label>Estado</label>
                                <dx-select-box [dataSource]="listEstados" formControlName="state" valueExpr="estado"
                                    displayExpr="nombre">
                                </dx-select-box>
                            </div>
                        </div>
                        <input name="id" formControlName="id" placeholder="id" class="form-control" type="hidden">
                    </div>

                    <div class="row-fluid text-right">

                        <div class="btn-group" role="group">
                            <button type="submit" class="btn btn-success" [disabled]="form.invalid">
                                <i class="far fa-save"></i> Guardar
                            </button>

                            <button type="button" class="btn btn-danger" (click)="cancelarModal()">
                                <i class="far fa-times-circle"></i> Salir
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>